<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.goods.dao.GoodsDao">
    <!-- 所有查询列 -->
    <sql id="QUERY_COLUMN_LIST">
        id AS id, brand_id AS brandId,title as title, explain AS explain, price AS price, color AS color, norms AS norms,create_time AS createTime, create_user_id AS createUserId, update_user_id AS updateUserId, update_date AS updateTime , deleted AS deleted
    </sql>

    <!-- 查询列来源表 -->
    <sql id="QUERY_FROM_TABLE">
        FROM t_goods
    </sql>

    <!-- 全部条件(更多功能可以通过queryData扩展实现) -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="null != id"><![CDATA[AND id = #{id}]]></if>
            <if test="null != brandId"><![CDATA[AND brand_id = #{brandId}]]></if>
            <if test="null != titile and '' != titile"><![CDATA[AND titile = #{titile}]]></if>
            <if test="null != explain and '' != explain"><![CDATA[AND explain = #{explain}]]></if>
            <if test="null != price and '' != price"><![CDATA[AND price = #{price}]]></if>
            <if test="null != color and '' != color"><![CDATA[AND color = #{color}]]></if>
            <if test="null != norms and '' != norms"><![CDATA[AND norms = #{norms}]]></if>
            <if test="null != createTime and '' != createTime"><![CDATA[AND create_time = #{createTime}]]></if>
            <if test="null != createUserId"><![CDATA[AND create_user_id = #{createUserId}]]></if>
            <if test="null != updateUserId"><![CDATA[AND update_user_id = #{updateUserId}]]></if>
            <if test="null != updateTime and '' != updateTime"><![CDATA[AND update_time = #{updateTime}]]></if>
            <if test="null != deleted"><![CDATA[AND deleted = #{deleted}]]></if>
        </where>
    </sql>

    <!-- 全部条件(更多功能可以通过queryData扩展实现) -->
    <sql id="QUERY_WHERE_CLAUSE_SPECIAL">
        <where>
            <if test="null != id"><![CDATA[AND id = #{id}]]></if>
            <if test="null != brandId"><![CDATA[AND brand_id = #{brandId}]]></if>
            <if test="null != titile and '' != titile"><![CDATA[AND titile = #{titile}]]></if>
            <if test="null != explain and '' != explain"><![CDATA[AND explain = #{explain}]]></if>
            <if test="null != price and '' != price"><![CDATA[AND price = #{price}]]></if>
            <if test="null != color and '' != color"><![CDATA[AND color = #{color}]]></if>
            <if test="null != norms and '' != norms"><![CDATA[AND norms = #{norms}]]></if>
            <if test="null != createTime and '' != createTime"><![CDATA[AND create_time = #{createTime}]]></if>
            <if test="null != createUserId"><![CDATA[AND create_user_id = #{createUserId}]]></if>
            <if test="null != updateUserId"><![CDATA[AND update_user_id = #{updateUserId}]]></if>
            <if test="null != updateTime and '' != updateTime"><![CDATA[AND update_time = #{updateTime}]]></if>
            <if test="null != deleted"><![CDATA[AND deleted = #{deleted}]]></if>
            <if test="null != keywords and '' != keywords">
                AND POSITION(TRIM(#{keywords}) IN CONCAT(IFNULL(tg.price,''),IFNULL(tb.brand_name,''),IFNULL(ts.style_name,'')))
            </if>
        </where>
    </sql>

    <!-- 排序与分页 -->
    <sql id="QUERY_ORDER_LIMIT_CONDITION">
        <if test="null != sortFields and '' != sortFields"><![CDATA[ORDER BY ${sortFields}]]></if>
        <if test="null != rowSrt and rowSrt &gt;= 0 and null != pageSize and pageSize &gt; 0">
            <![CDATA[LIMIT #{rowSrt}, #{pageSize}]]></if>
    </sql>

    <!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
    <sql id="UPDATE_COLUMN_SET">
        <set>
            <if test="null != brandId"><![CDATA[brand_id = #{brandId},]]></if>
            <if test="null != titile"><![CDATA[titile = #{titile},]]></if>
            <if test="null != explain"><![CDATA[explain = #{explain},]]></if>
            <if test="null != price"><![CDATA[price = #{price},]]></if>
            <if test="null != color"><![CDATA[color = #{color},]]></if>
            <if test="null != norms"><![CDATA[norms = #{norms},]]></if>
            <if test="null != createTime"><![CDATA[create_time = #{createTime},]]></if>
            <if test="null != createUserId"><![CDATA[create_user_id = #{createUserId},]]></if>
            <if test="null != updateUserId"><![CDATA[update_user_id = #{updateUserId},]]></if>
            <if test="null != updateTime"><![CDATA[update_time = #{updateTime},]]></if>
            <if test="null != deleted"><![CDATA[deleted = #{deleted},]]></if>
        </set>
    </sql>

    <!-- 保存记录 -->
    <insert id="save" keyProperty="id"
            parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity"
            useGeneratedKeys="true">
        INSERT INTO process_to_be_read_group
		(
		id,
		brand_id,
		title,
		explain,
		price,
		color,
		norms,
		update_time,
		create_time,
		update_user_id,
		create_user_id,
		deleted
		) 
		VALUES
		(
		#{id},
		#{brandId},
		#{titile},
		#{explain},
		#{price},
		#{color},
		#{norms},
		#{createUserId},
		#{createTime},
		#{updateUserId},
		#{updateTime},
		#{deleted}
		)
    </insert>

    <!-- 批量保存记录 -->
    <insert id="batchSave" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO process_to_be_read_group
        (
        id,
        brand_id,
        title,
        explain,
        price,
        color,
        norms,
        update_time,
        create_time,
        update_user_id,
        create_user_id,
        deleted
        )
        VALUES
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.id},
            #{item.brandId},
            #{item.titile},
            #{item.explain},
            #{item.price},
            #{item.color},
            #{item.norms},
            #{item.createUserId},
            #{item.createTime},
            #{item.updateUserId},
            #{item.updateTime},
            #{item.deleted}
            )
        </foreach>
    </insert>

    <!-- 修改记录通过主键 -->
    <update id="updateByKey" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
        <![CDATA[UPDATE t_goods]]>
        <include refid="UPDATE_COLUMN_SET"/>
        <![CDATA[WHERE id = #{id}]]>
    </update>

    <!-- 删除,通过条件 -->
    <delete id="deleteByCondition" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
        <![CDATA[DELETE]]>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
    </delete>

    <!-- 查询,通过主键 -->
    <select id="selectByKey" parameterType="java.lang.Integer"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
        <![CDATA[SELECT]]>
        <include refid="QUERY_COLUMN_LIST"/>
        <include refid="QUERY_FROM_TABLE"/>
        <![CDATA[WHERE id = #{id}]]>
    </select>

    <!-- 查询,通过条件 -->
    <select id="selectList" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
        <![CDATA[SELECT]]>
        <include refid="QUERY_COLUMN_LIST"/>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
        <include refid="QUERY_ORDER_LIMIT_CONDITION"/>
    </select>

    <!-- 查询总数,通过条件 -->
    <select id="selectListCount" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity"
            resultType="java.lang.Integer">
        <![CDATA[SELECT COUNT(*)]]>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
    </select>

    <select id="selectByTypeId"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
    SELECT
	    t_goods.*
    FROM
	    t_goods_style
        LEFT JOIN t_goods ON t_goods_style.goods_id = t_goods.id
    WHERE
	    t_goods.deleted = 1 AND t_goods_style.style_id = #{id}
    </select>


    <select id="selectGoodsListPage"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.GoodsEntity">
        SELECT
	      tg.*
        FROM
	    t_goods AS tg
        LEFT JOIN t_goods_style AS tgs ON tg.id = tgs.goods_id
        LEFT JOIN t_style AS ts ON ts.id = tgs.style_id
        left JOIN t_brand AS tb ON tb.id = tg.brand_id
        WHERE
	        tg.deleted = 1
	    <include refid="QUERY_WHERE_CLAUSE_SPECIAL"/>
        <include refid="QUERY_ORDER_LIMIT_CONDITION"/>
    </select>

    <select id="selectGoodsListCount"
            resultType="java.lang.Long">
        SELECT
        count(1)
        FROM
        t_goods AS tg
        LEFT JOIN t_goods_style AS tgs ON tg.id = tgs.goods_id
        LEFT JOIN t_style AS ts ON ts.id = tgs.style_id
        left JOIN t_brand AS tb ON tb.id = tg.brand_id
        WHERE
        tg.deleted = 1
        <include refid="QUERY_WHERE_CLAUSE_SPECIAL"/>
    </select>


</mapper>