<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.goods.dao.StyleGoodsDao">
    <!-- 所有查询列 -->
    <sql id="QUERY_COLUMN_LIST">
        id AS id, goods_id AS goodsId, style_id AS styleId, create_time AS createTime, create_user_id AS createUserId, update_user_id AS updateUserId, update_time AS updateTime , deleted AS deleted
    </sql>

    <!-- 查询列来源表 -->
    <sql id="QUERY_FROM_TABLE">
        FROM t_goods_style
    </sql>

    <!-- 全部条件(更多功能可以通过queryData扩展实现) -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="null != id"><![CDATA[AND id = #{id}]]></if>
            <if test="null != goodsId"><![CDATA[AND goods_id = #{goodsId}]]></if>
            <if test="null != styleId"><![CDATA[AND style_id = #{styleId}]]></if>
            <if test="null != createTime and '' != createTime"><![CDATA[AND create_time = #{createTime}]]></if>
            <if test="null != createUserId"><![CDATA[AND create_user_id = #{createUserId}]]></if>
            <if test="null != updateUserId"><![CDATA[AND update_user_id = #{updateUserId}]]></if>
            <if test="null != updateTime and '' != updateTime"><![CDATA[AND update_time = #{updateTime}]]></if>
            <if test="null != deleted"><![CDATA[AND deleted = #{deleted}]]></if>
        </where>
    </sql>

    <!-- 排序与分页 -->
    <sql id="QUERY_ORDER_LIMIT_CONDITION">
        <if test="null != sortFields and '' != sortFields"><![CDATA[ORDER BY ${sortFields}]]></if>
        <if test="null != rowSrt and rowSrt &gt;= 0 and null != pageSize and pageSize &gt; 0">
            <![CDATA[LIMIT #{rowSrt}, #{pageSize}]]></if>
    </sql>

    <!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
    <sql id="UPDATE_COLUMN_SET">
        <set>
            <if test="null != goodsId"><![CDATA[goods_id = #{goodsId},]]></if>
            <if test="null != styleId"><![CDATA[style_id = #{styleId},]]></if>
            <if test="null != createTime"><![CDATA[create_time = #{createTime},]]></if>
            <if test="null != createUserId"><![CDATA[create_user_id = #{createUserId},]]></if>
            <if test="null != updateUserId"><![CDATA[update_user_id = #{updateUserId},]]></if>
            <if test="null != updateTime"><![CDATA[update_time = #{updateTime},]]></if>
            <if test="null != deleted"><![CDATA[deleted = #{deleted},]]></if>
        </set>
    </sql>

    <!-- 保存记录 -->
    <insert id="save" keyProperty="id"
            parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity"
            useGeneratedKeys="true">
        INSERT INTO t_goods_style
		(
		id,
		goods_id,
		style_id,
		update_time,
		create_time,
		update_user_id,
		create_user_id,
		deleted
		) 
		VALUES
		(
		#{id},
		#{goodsId},
		#{styleId},
		#{updateTime},
		#{createTime},
		#{updateUserId},
		#{createUserId},
		#{deleted}
		)
    </insert>

    <!-- 批量保存记录 -->
    <insert id="batchSave" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_goods_style
        (
        id,
        goods_id,
        style_id,
        update_time,
        create_time,
        update_user_id,
        create_user_id,
        deleted
        )
        VALUES
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
        (
        #{item.id},
        #{item.goodsId},
        #{item.styleId},
        #{item.updateTime},
        #{item.createTime},
        #{item.updateUserId},
        #{item.createUserId},
        #{item.deleted}
        )
        </foreach>
    </insert>

    <!-- 修改记录通过主键 -->
    <update id="updateByKey" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity">
        <![CDATA[UPDATE t_goods_style]]>
        <include refid="UPDATE_COLUMN_SET"/>
        <![CDATA[WHERE id = #{id}]]>
    </update>

    <!-- 删除,通过条件 -->
    <delete id="deleteByCondition" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity">
        <![CDATA[DELETE]]>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
    </delete>

    <!-- 查询,通过主键 -->
    <select id="selectByKey" parameterType="java.lang.Integer"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity">
        <![CDATA[SELECT]]>
        <include refid="QUERY_COLUMN_LIST"/>
        <include refid="QUERY_FROM_TABLE"/>
        <![CDATA[WHERE id = #{id}]]>
    </select>

    <!-- 查询,通过条件 -->
    <select id="selectList" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity"
            resultType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity">
        <![CDATA[SELECT]]>
        <include refid="QUERY_COLUMN_LIST"/>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
        <include refid="QUERY_ORDER_LIMIT_CONDITION"/>
    </select>

    <!-- 查询总数,通过条件 -->
    <select id="selectListCount" parameterType="net.lab1024.smartadmin.module.business.goods.domain.entity.StyleGoodsEntity"
            resultType="java.lang.Integer">
        <![CDATA[SELECT COUNT(*)]]>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
    </select>


</mapper>